.search {
  -webkit-appearance: none;
  border: none;
  outline: none;
  /*margin-left:650px;*/
  display: inline-grid;
  
  /*flex-direction: column;*/ 
  padding: 10px;
  width: 150px;
  line-height: 30px;
  margin-bottom: 30px;
}
